{% extends "base.html" %}

{% block title %}Statistics{% endblock %}

{% block content %}

<style>
    body {
        background: linear-gradient(135deg, #0487df, #e3e6e7);
    }

    .company-list-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Internator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            </ul>
        </div>
        <div class="navbar-nav ml-auto">
            <form action="{{ url_for('main') }}" method="get">
                <button type="submit" class="btn btn-primary">Back to Main</button>
            </form>

            <form action="{{ url_for('logout') }}" method="get">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <div class="company-list-container">
        <h1>Statistics 1</h1>
        <div class="center-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Company Name</th>
                        <th scope="col">Quota</th>
                        <th scope="col">GPA Threshold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result1 %}
                    <tr>
                        <td>{{ result.cname }}</td>
                        <td>{{ result.quota }}</td>
                        <td>{{ result.gpa_threshold }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1>Statistics 2</h1>
        <div class="center-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Max GPA Threshold</th>
                        <th scope="col">Min GPA Threshold</th>
                    </tr>
                </thead>
                <tbody>
                    {% if result2 %}
                    <tr>
                        <td>{{ result2.max_gpa_threshold }}</td>
                        <td>{{ result2.min_gpa_threshold }}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <h1>Statistics 3</h1>
        <div class="center-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">City</th>
                        <th scope="col">Application Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result3 %}
                    <tr>
                        <td>{{ result.city }}</td>
                        <td>{{ result.application_count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h1>Statistics 4</h1>
        <div class="center-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Company with Max Quota</th>
                        <th scope="col">Company with Min Quota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in result4 %}
                    <tr>
                        <td>{{ result.company_with_max_quota }}</td>
                        <td>{{ result.company_with_min_quota }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}